
* {
    margin: 0;
    padding: 0;
    border: none;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #222;
    background-color: #F1F1F1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
.product-header {
    position: relative;
}
.product-wrapper {
    width: 75%;
    margin: 20px auto;
    position: absolute;
}
section {
    background: #FFF;
    padding: 20px; 
    border-radius: 4px;
    margin-bottom: 10px;
}
section figure, 
section div {
    display: inline-block;
    vertical-align: middle;
}
h2 {
    font-size: 2.5em;
    padding-bottom: 5px;
}
p {
    font-size: 1.2em;
}
p.price {
    font-size: 1.6em;
    font-weight: bold;
}
section div {
    margin-left: 20px;
}
input {
    width: 20px;
    text-align: center;
}
button.add-to-cart {
    text-transform: uppercase;
    background: #F8E7E4;
    border-radius: 16px;
    height: 32px;
    padding: 0 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.product-header,
.cart-header,
.cart-body, 
.cart-footer {
    padding: 10px 20px;
}
.product-header span,
.cart-header span {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    color: #666;
}
.product-header div.product {
    position: relative;
    margin-left: 120px;
}
div.product {
    display: inline-block;
    width: 49%;
}
div.price {
    width: 100px;
    text-align: center;
}
.product-container div.price {
    font-size: 1.2em;
    font-weight: bold;
} 
.product-container div.quantity button {
    font-size: 2em;
}
.product-container div.quantity input {
    font-size: 1.4em;
    font-weight: bold;
}
div.add {
    width: 120px;
    text-align: center;
}
.product-header div.bag {
    width: 15%;
    text-align: right;
}

.cart-items {
    background: #F8E7E4;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-top: 2px;
    margin-left: 5px;
}


.cart-container {
    position: absolute;
    top: 0;
    left: 75%;
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
    width: 0;
    overflow: hidden;
    /* -webkit-transition: all 1s; 
    transition: all 1s; */
}
.cart-header, 
.cart-body, 
.cart-footer {
    background: #FFF;
}
.cart-container.open {
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
    width: 25%;
}
.cart-header {
    margin-bottom: 10px;
    height: 40px;
}
.cart-header span {
    display: inline-block;
    position: absolute;
}
div.cart-container .cart-header span,
div.cart-container .cart-body span,
div.cart-container .cart-footer span  {
    opacity: 0;
    /* -webkit-transition: all 0.3s; 
    transition: all 0.3s;
    transition-delay: 0.4s; */
}
div.open .cart-header span,
div.open .cart-body span,
div.open .cart-footer span   {
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-delay: 0.1s;
}